@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url("sections/header.css");


:root {
    --monserat: "Montserrat", sans-serif;
    --text-color : #252B42;
    --second-text-color: #737373;
    --primary-color: #FC724D;
    --light-text-color: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }




a{
    text-decoration: none;
}